body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.main-header ul{
  list-style: none;
}

.main-header a{
  color: #000000;
  font-weight: 700;
}

.main-header a:hover,
.main-header a:focus{
  color: #81b3d2;
}

.main-header a:active{
  color: #a9a9a9;
}

.main-header a.active{
  color: #766357;
}

.index-top .top-text-big {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.index-top .top-text-small {
  text-align: center;
}

.features h2 {
  font: inherit;
  font-size: 21px;
  line-height: 21px;
}

.feature-img-right, .feature-img-left {
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.feature-icon {
  text-align: center;
}

.features-alternative {
  text-align: center;
}

.order-form {
  text-align: center;
}

.order-form .bottom-text-big{
  font: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.order-form .submit-button,
.order-form-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.order-form-button {
  background-color: #766357;
}

.order-form-button:hover,
.order-form-button:focus {
  background-color: #604e43;
}

.order-form-button:active {
  background-color: #503e33;
}

.order-form .submit-button {
  background-color: #81b3d2;
}

.order-form .submit-button:hover,
.order-form .submit-button:focus {
  background-color: #669ec0;
}

.order-form .submit-button:active {
  background-color: #5496bd;
}

.order-form fieldset {
  border: none;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
}

.order-form-field label {
  font-weight: 700;
}

.order-form-field input {
  font: inherit;

  text-align: left;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
  background-color: #f2f2f2;
}

.order-form-field button {
  border: none;
  background-color: #ffffff;
}

.order-form-field svg{
  fill: #a9a9a9;
}

.number-less:hover svg,
.number-less:focus svg,
.number-more:hover svg,
.number-more:focus svg,
.calendar:hover svg,
.calendar:focus svg{
  fill: #000000;
}

.number-less:active svg,
.number-more:active svg,
.calendar:active svg{
  fill: #81b3d2;}


.main-footer .footer-tag {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-footer ul {
  list-style: none;
}

.footer-social a {
  color: inherit;

  font-weight: 700;
}

.footer-logo b {
  font: inherit;
}

.footer-logo-link svg {
  fill: #000000;
}

.footer-logo-link:hover svg,
.footer-logo-link:focus svg {
  fill: #81b3d2;
}

.footer-logo-link:active svg {
  fill: #a9a9a9;
}

.form-hotels {
  background: #81b3d2 url("../img/inner-form-background.jpg") no-repeat;
  color: #ffffff;
}

.form-hotels fieldset {
  border: none;
}

.form-hotels legend,
.form-hotels .price-legend {
  font: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}



.form-hotels .submit-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
}

.form-hotels .submit-button:hover,
.form-hotels .submit-button:focus {
  color: #000000;
  background-color: rgba(255, 255, 255, 1);
}

.form-hotels .range-filter {
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
}

.range-filter label {
  font: inherit;
}

.range-filter input {
  font: inherit;

  text-align: left;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.search-results .found {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-results .sort-buttons {
  list-style: none;
}

.sort-buttons li {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
}

.sort-button {
  color: #b2b2b2;
  text-decoration-line: underline;
  text-decoration-color: #81b3d2;
  text-decoration-style: dashed;
}

.sort-button-current {
  color: #81b3d2;
  text-decoration: none;
}

.sort-arrows button {
  border: none;
  background-color: #ffffff;
}

.sort-up svg,
.sort-down svg {
  fill: #a9a9a9;
}

.sort-up:hover svg,
.sort-up:focus svg,
.sort-down:hover svg,
.sort-down:focus svg {
  fill: #000000;
}

.sort-up:active svg,
.sort-down:active svg,
 .sort-up-active svg,
 .sort-down-active svg{
  fill: #81b3d2;
}

.hotel-name a {
  font: inherit;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #a9a9a9;
}

.hotel-features .housing-type,
.hotel-features .housing-price {
  font: inherit;
}

.housing-info a {
  font: inherit;

  color: #ffffff;
  font-weight: 700;
  background-color: #81b3d2;
}

.housing-info a:hover,
.housing-info a:focus {
  background-color: #669ec0;
}

.housing-info a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


.housing-book a {
  font: inherit;

  color: #ffffff;
  font-weight: 700;
  background-color: #766357;
}

.housing-book a:hover,
.housing-book a:focus {
  background-color: #604e43;
}

.housing-book a:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-features .housing-rating {
  color: #666666;
  background-color: #f2f2f2;
}


.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  }


/*-----------------------------------------*/

html{
  background-color: #f2f2f2;

  /*
  min-width: 1200px;
  min-height: 2762px;*/
}


body {
  width: 1200px;
  margin:0 auto;
  padding: 0;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);

  /*
  background-image: url("../../sedona/preview/sedona-index-1200.jpg");
  background-size: 1280px auto;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 1200px;
  min-height: 2762px;*/
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 73px;
}

.site-navigation li {
  min-width: 128px;
  min-height: 56px;

  padding-top: 16px;
}

.site-navigation li:first-child {
  margin-right: 112px;
}

.site-navigation li.main-header-logo {
margin: 0 auto;
padding: 0;
z-index: 1;
  /* Почему когда их убираю, отрицательный маржин
  для большой картинки перестает работать?*/
 width: 138px;
 height: 70px;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(5) {
  margin-left: 112px;

  text-align: right;
}

.index-top {

  margin-top: -14px;
  /**/
  width: 100%;

}

.index-top .top-image {
  /**/
  width: 1200px;
  height: 508px;
}

.index-top .top-text-big {
  margin: 0;
  padding-top: 56px;
  padding-left: 312px;
  padding-right: 312px;
  padding-bottom: 0;
}

.index-top .top-text-small{
  margin: 0;
  padding-top: 30px;
  padding-left: 312px;
  padding-right: 312px;
  padding-bottom: 50px;
}


.feature-img-right {
  display: flex;

/*
background-color: transparent;*/
}

.feature-img-left {
  display: flex;
  flex-direction: row-reverse;

/*
background-color: transparent;*/
}

.feature-text-block {
  width: 400px;
  height: 256px;
  box-sizing: border-box;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.feature-text-block h2 {
  margin: 0;
  padding: 0;

  font-weight: 700;
}

.feature-text-block .feature-number {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 21px;

  line-height: 21px;
}

.feature-text-block .feature-text {
  margin: 0;
  padding: 0;

  line-height: 21px;
}

.feature-container
{
  display: flex;
}

.feature-container .feature-icon {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 330px;
  width: 400px;
}

.feature-icon h2 {
  margin: 0;
  padding: 0;
  padding-top: 160px;
  padding-bottom: 25px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-icon p {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;

  font-size: 14px;
  line-height: 21px;
  }

.features-alternative {
  background-color: #eeeeee;
  /*
  background-color: transparent;*/
}

.order-form-top {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 290px;
  /*
  background-color: transparent;*/
}

.order-form-top p{
  margin: 0;
  padding: 0;
}

.order {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  width: 568px;
  height: 395px;

}


.order-form .map {
  z-index: -1;
  height: 473px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;

  background: rgba(255, 255, 255, 0.9);
  height: 120px;
}

.main-footer .footer-tag {
  margin: 0;
  margin-left: 133px;
  padding: 0;
}


.main-footer .footer-social {
  width: 150px;

  /**/
  min-height: 48px;
}

.main-footer .footer-logo {
  margin: 0;
  margin-right: 101px;
  padding: 0;
}
