html{
  background-color: #f2f2f2;
}

body {
  width: 1200px;
  margin:0 auto;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);}

a {
  text-decoration: none;
}

.main-navigation .main-header-logo {
  position: absolute;
  left:50%;

  margin: 0;
  margin-left:-69px;

  line-height:0;
}

.site-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 73px;
}

.site-navigation li {

  width: 20%;


  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 17px;
}


.site-navigation li:nth-child(3) {
  margin-left: 120px;

  text-align: right;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.main-header ul{
  list-style: none;
}

.main-header a{
  color: #000000;
  font-weight: 700;
}

.main-header a:hover,
.main-header a:focus{
  color: #81b3d2;
}

.main-header a:active{
  color: #a9a9a9;
}

.main-header a.active{
  color: #766357;
}

.index-top .top-image {
  width: 100%;

  line-height:0;
}

.index-top .top-text-big {
  margin: 0;
  padding-top: 60px;
  padding-left: 312px;
  padding-right: 312px;
  padding-bottom: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.index-top .top-text-small {
  margin: 0;
  padding-top: 30px;
  padding-left: 312px;
  padding-right: 312px;
  padding-bottom: 53px;

  text-align: center;
}

.features h2 {

  font-size: 21px;
}

.feature-img-right, .feature-img-left {
  display: flex;
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.feature-img-left {
  flex-direction: row-reverse;
}

.feature-text-block {
  width: 400px;

  box-sizing: border-box;
  padding: 48px;
  padding-bottom: 59px;
}

.feature-img-right img {
  width: 800px;
}

.feature-text-block h2 {
  margin: 0;
  padding: 0;

  font-weight: 700;
}

.feature-text-block .feature-number {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 20px;
}

.feature-text-block .feature-text {
  margin: 0;
  padding: 0;
}

.feature-container {
  display: flex;
}

.feature-container .feature-icon {
  position: relative;

  margin: 0;
  padding: 50px 20px;
  padding-bottom: 82px;
  box-sizing: border-box;
  width: 400px; /*33,33%*/

  text-align: center;
}

.feature-icon h2 {
  margin: 0;
  padding: 0;
  padding-top: 110px;
  padding-bottom: 25px;

  font-size: 21px;
  font-weight: 700;
}

.feature-icon p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  }

.feature-icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 52px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  background-image: url("../img/icon-1.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.feature-icon:nth-child(2)::before {
  margin-left: -45px;
  background-image: url("../img/icon-2.svg");
}

.feature-icon:nth-child(3)::before {
  background-image: url("../img/icon-3.svg");
}


.features-alternative {
  text-align: center;

  background-color: #eeeeee;
}

.order-form {
  text-align: center;
}

.order-form-top {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.order-form-top p {
  padding: 0;
  margin:0;
}

.order-form-top .bottom-text-big{
  padding-top: 50px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.order-form-top .bottom-text-small{
  padding-top: 26px;
  padding-bottom: 47px;

  line-height: 24px;
}

.button {
  display: inline-block;
  width: 568px;
  padding: 30px;
  line-height: 26px;
}

.order .submit-button {
  display: inline-block;
  width: 458px;
  padding: 16px;
  margin-top: 54px;

  line-height: 26px;
}

.order-form .submit-button,
.order-form-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.order-form-button {
  background-color: #766357;
}

.order-form-button:hover,
.order-form-button:focus {
  background-color: #604e43;
}

.order-form-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}


.order-form .submit-button,
.main-footer .social-button {
  background-color: #81b3d2;
}

.order-form .submit-button:hover,
.order-form .submit-button:focus,
.main-footer .social-button:hover,
.main-footer .social-button:focus {
  background-color: #669ec0;
}

.order-form .submit-button:active,
.main-footer .social-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.social-button:active svg {
  fill: rgba(255, 255, 255, 0.3);
}


.order-form .order {
  position: absolute;
  left: 50%;
  width: 568px;
  margin: 0;
  margin-left: -284px;
  padding: 0;

  font-size: 0;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  }


.order-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 54px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
}

.order-form-field {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 168px;
  padding-right: 55px;
  margin-bottom: 28px;
}

.order-form-number {
  display: inline-block;

  margin-bottom: 0;
  width: 284px;
  box-sizing: border-box;
  padding-right: 2px;
}

.order-form-number:nth-child(4) {
  padding-left: 116px;
  padding-right: 55px;
}

.order-form-field label {
  position: absolute;
  left: 54px;
  top: 50%;
  margin-top: -12px;

  font-size: 14px;
  font-weight: 700;
}

.order-form-field input {

  width: 100%;
  padding: 9px 12px;
  box-sizing: border-box;

  font: inherit;
  font-size: 14px;

  text-align: left;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
  background-color: #f2f2f2;
}

.order-form-number input {
  padding-left: 10px; /*подгон*/
  text-align: center;
}

.order-form-number .number-less {
  position: absolute;
  right: 86px;
  top: 50%;
  margin-top: -12px;
}

.order-form-number:nth-child(4)  .number-less {
  right: 136px;
}

.order-form-number .number-more {
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -7px;
}

.order-form-number:nth-child(4) .number-more {
  right: 61px;
}


.order-form-field input::placeholder {
  color: black;
}

.order-form-number input::placeholder {
  color: black;
  text-align: center;
}

.order-form-field button {
  position: absolute;
  right: 58px;
  top: 50%;
  margin-top: -13px;
  border: none;
  background: none;
}

.order-form-field svg{
  fill: #a9a9a9;
}

.number-less:hover svg,
.number-less:focus svg,
.number-more:hover svg,
.number-more:focus svg,
.calendar:hover svg,
.calendar:focus svg{
  fill: #000000;
}

.number-less:active svg,
.number-more:active svg,
.calendar:active svg{
  fill: #81b3d2;
}

.order-form .map {
  line-height:0;
}

.inner .form-hotels {
  width: 100%;
  height: 217px;
  margin: 0;
  padding: 29px 73px;
  padding-right: 72px;
  box-sizing: border-box;

  color: #ffffff;
  background-image: url("../img/inner-form-background.jpg");
  background-size: 1200 auto;
  background-repeat: no-repeat;

}

.inner .hotel-search {
  display: flex;

  margin: 0;
  padding: 0;
}

.hotel-search fieldset {
  margin: 0;
  padding: 0;

  width: 254px;
  border: none;
}


.hotel-search legend,
.hotel-search .price-legend {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.hotel-search p {
  margin: 25px 0;
  padding-left: 40px;
}

.hotel-search .price-range-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-left: auto;

  width: 318px;
}

.range-filter .price-controls {
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;

  font-size: 0;
  line-height: 0;
}

.price-range-input .price-legend {
  margin-bottom: 8px;
}

.price-controls div{
  display: inline-flex;
  align-items: baseline;

  width: 50%;

  padding: 5px 0;

  font-size: 14px;
  line-height: 21px;
}

.range-filter label {
  font: inherit;
  text-align: right;
  padding-right: 5px;
  margin-left: 65px;
}

.max-price label {
  margin-left: 52px;
}

.range-filter input {
  box-sizing: border-box;
  width: 100%;

  font: inherit;

  text-align: left;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.range-controls {
  position: relative;
  margin-top: 20px;
  width: 100%;
  min-height: 5px;
  margin-top: 20px;
}

.range-controls .scale{
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar{
  width: 80%;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
}

.range-controls .toggle{
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height:4px;
  border:8px solid white;
  background:#ababab;
  cursor:pointer;
  border-radius:50%;
}

.range-controls .max-toggle {
  left: 252px;
}

.hotel-search .hotel-submit-button {
  padding: 5px 34px;
  margin-top: 29px;
  margin-right: 8px;  /*подгон*/

  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;


  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
}

.hotel-search .hotel-submit-button:hover,
.hotel-search .hotel-submit-button:focus {
  color: #000000;
  background-color: rgba(255, 255, 255, 1);
}

.inner .search-results {
  width: 1200px;
}

.search-results .top-search-results{
  display: flex;
  align-items: center;
  /*height: 86px;*/
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.search-results .found {
  margin: 0;
  padding: 0;


  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.top-search-results .sort-buttons {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 50px;

  list-style: none;
}

.sort-buttons li {
  width: 90px;
  margin-right: 5px;

  font: inherit;
  font-size: 12px;
  line-height: 18px;
}

.sort-button {
  color: #b2b2b2;
  text-decoration-line: underline;
  text-decoration-color: #81b3d2;
  text-decoration-style: dashed;
}

.sort-button-current {
  color: #81b3d2;
  text-decoration: none;
}

.top-search-results .sort-arrows{
  display: flex;

  margin-left: auto;
  padding: 0;
  margin-right: -6px;
}

.sort-arrows button {
  border: none;
  padding-top: 8px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 7px;

  background-color: transparent;

}

.sort-arrows button {

}

.sort-up svg,
.sort-down svg {
  fill: #a9a9a9;
}

.sort-up:hover svg,
.sort-up:focus svg,
.sort-down:hover svg,
.sort-down:focus svg {
  fill: #000000;
}

.sort-up:active svg,
.sort-down:active svg,
.sort-up-active svg,
.sort-down-active svg{
  fill: #81b3d2;
}

.search-results .hotel-features {
  display: flex;
  height: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-features .hotel-features-info{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 237px;
  min-width: 500px;
  padding: 25px 0;
}

.hotel-features-info .hotel-photo {
  position: absolute;
  top: 30px;
  left: -165px;
  line-height: 0;
}

.hotel-features-info .hotel-name {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.hotel-features-info .housing-type-price {
  position: relative;
  margin-bottom: 13px;
}

.housing-type-price span:nth-child(2){
  position: absolute;
  left: 116px;
}

.hotel-name a {
  font: inherit;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #a9a9a9;
}

.housing-buttons {
  position: relative;
}

.housing-buttons a {
  padding: 4px 17px;
}

a.housing-info {
  position: absolute;
  margin: 0;
  left: 0;
  font: inherit;

  color: #ffffff;
  font-weight: 700;
  background-color: #81b3d2;
}

a.housing-info:hover,
a.housing-info:focus {
  background-color: #669ec0;
}

a.housing-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


a.housing-book {
  position: absolute;
  margin: 0;
  left: 116px;

  font: inherit;

  color: #ffffff;
  font-weight: 700;
  background-color: #766357;
}

a.housing-book:hover,
a.housing-book:focus {
  background-color: #604e43;
}

a.housing-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-features .housing-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 111px;
  margin-left: auto;
  margin-right: 72px;
  padding: 28px 0;
}

.housing-rating .star {
  width: 18px;
  height: 17px;
  background-image: url('../img/star.svg');
  background-position: center;
  background-repeat: no-repeat;
}


.housing-rating p{
  margin: 0;
  margin-top: 48px;
  padding: 0;
  padding: 3px 0;
  width: 111px;

  text-align: center;

  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  height: 120px;
}

.footer-absolute {
  position:absolute;
  width: 1200px;
  margin-top: -120px;
  background: rgba(255, 255, 255, 0.9);
}

.main-footer .footer-tag {
  margin: 0;
  margin-left: 133px;
  padding: 0;

  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-footer ul {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-right: 12px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;
}

.social-button svg {
  fill: rgba(255, 255, 255, 1);
}

.main-footer .footer-logo {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 101px;
  padding: 0;
}

.footer-logo b {
  font: inherit;
  margin-right: 10px;
}

.footer-logo-link {
  margin-top: 2px;
}

.footer-logo-link svg {
  fill: #000000;
}

.footer-logo-link:hover svg,
.footer-logo-link:focus svg {
  fill: #81b3d2;
}

.footer-logo-link:active svg {
  fill: #a9a9a9;
}


.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
